.form-container {
    max-width : 1200px;
    min-width : 800px;
    height : 100px;
    display: flex;
    align-items: center;
   
    background-color: whitesmoke;  
    margin: auto;
  }
.input-title{
    margin: auto;
    display: row;
    align-items: center;
    justify-content: flex-start;
    border: solid 2px white;
    width: 250px;
     height: 35px;
     font-size:20px;
     color:black;
     line-height: 50px;
     border-radius: 12px;
     }

     .input-comment{
      margin: auto;
      display: row;
      align-items: center;
      justify-content: flex-start;
      border: solid 2px white;
      width: 250px;
       height: 35px;
       font-size:20px;
       color:black;
       line-height: 50px;
       border-radius: 12px;
     }

.btn-add{
    display: row;
     width: 150px;
     height: 35px;
     font-size:20px;
     color: white;
     line-height: 50px;
     text-align: center;
     background: rgb(57, 109, 57);
     border: solid 2px rgb(57, 109, 57);
     border-radius: 12px;
     padding-bottom: 45px;
     margin-left: 370px;
}